.autocomplete-input{
	width: 100%;
	height:100%;
	font-size: 16px; 
	font-size: 4vmin;
}
.sugg-results-box{
	border-bottom: #999 solid 1px;
	border-left: #999 solid 1px;
	border-right: #999 solid 1px;
	overflow: scroll;
	background-color: white;
	
}
.sugg-result-div{
	height : 8vmin;
	text-align: center;
	font-family: arial;
/*
	padding-top: 5px;
	padding-bottom: 5px;
*/
	line-height: 8vmin;
	font-size: 16px; 
	font-size: 4vmin;
}
.sugg-result-div:hover{
	background-color: #3b99fc;
}