body {
	height: 100%;
	font-size: 16px;
	font-size: 2.5vmin;
	font-family: arial;
	margin: 0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.main-div {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 200%;
}

.view-div{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.explore-view {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 50%;
	overflow: hidden;
}

.compare-view {
	position: absolute;
	left: 0;
	top:50%;
	width: 100%;
	height: 50%;
	overflow: hidden;
}

.player1-view {
	position: absolute;
	left: 0;
	top:0;
	width: 17%;
	height: 100%;
	background-color: rgba(6, 105, 123, 0.53);
	overflow: hidden;
}

.player2-view {
	position: absolute;
	left: 83%;
	top:0;
	width: 17%;
	height: 100%;
	background-color: rgba(148, 64, 58, 0.92);
	overflow: hidden;
}
.button-compare {
	position: absolute;
	left:0;
	top: 45%;
	width:100%;
	height:5%;
	z-index: 100;
}


.autocomplete-compare {
	position: absolute;
	left:0;
	top:50%;
	width:100%;
	height:10%;
	z-index: 100;
}

.button-explore {
	position: absolute;
	left:0;
	top: 45%;
	width:100%;
	height:5%;
	z-index: 100;
}

.autocomplete-explore {
	position: absolute;
	left:0;
	top:50%;
	width:100%;
	height:10%;
	z-index: 100;
}

.shared-view {
	position: absolute;
	left: 17%;
	top:0;
	width: 66%;
	height: 100%;
	overflow: hidden;
}

.timeline-view {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 35%;
	background-color: rgba(225, 220, 220, 0.99);
	overflow: hidden;
}

.map-view {
	position: absolute;
	left: 0;
	top:35%;
	width: 50%;
	height: 65%;
	background-color: rgba(235, 230, 230, 0.99);
}

.fullscreen {
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	z-index: 1001;
}

.force-view {
	position: absolute;
	left: 50%;
	top:35%;
	width: 50%;
	height: 65%;
	background-color: rgba(248, 243, 243, 0.99);
	overflow: hidden;
}

.selected-list-title{
	position: absolute;
	top:7%;
	height: 4%;
	width: 100%;
	margin-top: 1%;
	left:0;
	font-size: 110%;
	line-height: 2;
	text-align: center;
	font-weight: bold;
}
.highlight-title{
	position: absolute;
	top:0%;
	height: 4%;
	width: 100%;
	margin-top: 1%;
	left:0;
	font-size: 110%;
	line-height: 2;
	text-align: center;
	font-weight: bold;
}
.highlight-content {
	position: absolute;
	top:5%;
	height: 4%;
	width: 100%;
	left:0;
	line-height: 2;
	text-align: left;
	font-weight: bold;
}

.selected-list-div {
	position: absolute;
	top:12%;
	height: 37%;
	margin-bottom: 1%;
	width: 100%;
	left:0;
	overflow: scroll;
}


.selected-list-box{
	position: absolute;
	top:0;
	height: 100%;
	width: 100%;
	left:0;
}
.selected-list-box p{
	margin: 0;
}

.suggested-list-title{
	position: absolute;
	top:60%;
	height: 4%;
	width: 100%;
	margin-top: 1%;
	left:0;
	font-size: 110%;
	line-height: 2;
	text-align: center;
	font-weight: bold;
}
.suggested-list-div {
	position: absolute;
	top:65%;
	height: 33%;
	margin-bottom: 1%;
	margin-top: 1%;
	width: 100%;
	left:0;
	overflow: scroll;
}
.static-list-title{
	position: absolute;
	top:60%;
	height: 4%;
	width: 100%;
	margin-top: 1%;
	left:0;
	font-size: 110%;
	line-height: 2;
	text-align: center;
	font-weight: bold;
}
.static-list-div {
	position: absolute;
	top:65%;
	height: 26%;
	margin-bottom: 1%;
	margin-top: 1%;
	width: 100%;
	left:0;
	overflow: scroll;
}

.suggested-list-box{
	position: absolute;
	top:0;
	height: 100%;
	width: 100%;
	left:0;
}

.selected-list-element {
	position: absolute;
}
.suggested-list-element {
	position: absolute;
}
.selected-close-box {
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 10%;
}
.selected-text-box {
	position: absolute;
	top:0;
	left: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 100%;
	width: 100%;
}
.suggested-text-box {
	position: absolute;
	top:0;
	left: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 100%;
	width: 100%;
}

.explore-switch-button {
	position: absolute;
	bottom:1%;
	left : 5%;
	height:6%;
	width: 90%;

	border-radius: 15px;
	/*-moz-border-radius: 5px;*/
	/*-webkit-border-radius: 5px;*/
	/*border: 3px solid #37373c;*/
	background-color: #D9853B;

	text-align: center;
	/*margin: 1% 1%;*/
}

.explore-switch-button::after {
	/*content: "Go to Compare View";*/
}
.compare-switch-button::after {
	/*content: "Go to Explore View";*/
}

.compare-switch-button {
	position: absolute;
	top:1%;
	left : 5%;
	height:6%;
	width: 90%;
	border-radius: 15px;
	/*-moz-border-radius: 5px;*/
	/*-webkit-border-radius: 5px;*/
	/*border: 3px solid #37373c;*/
	background-color: #D9853B;
	text-align: center;
	/*margin: 1% 1%;*/
}

::-webkit-scrollbar {
	display: none;
}

.double-button-div {
	position: absolute;
	top:5%;
	left : 5%;
	height:90%;
	width: 90%;
	border-radius: 15px;
	/*-moz-border-radius: 5px;*/
	/*-webkit-border-radius: 5px;*/
	/*border: 3px solid #37373c;*/
	background-color: #D9853B;
	overflow: hidden;
	/*margin: 1% 1%;*/
}

.double-button-inside-left-div {
	position: absolute;
	top:0;
	left : 0;
	height:100%;
	width: 50%;
	/*-moz-border-radius: 5px;*/
	/*-webkit-border-radius: 5px;*/
	border-right: 2px solid #37373c;
	background-color: #D9853B;
	overflow: hidden;
	text-align: center;
	/*margin: 1% 1%;*/
}

.double-button-inside-right-div {
	position: absolute;
	top:0;
	left : 50%;
	height:100%;
	width: 50%;
	/*-moz-border-radius: 5px;*/
	/*-webkit-border-radius: 5px;*/
	border-left: 2px solid #37373c;
	background-color: #D9853B;
	overflow: hidden;
	text-align: center;
	/*margin: 1% 1%;*/
}

.double-button-selected {
	background-color: rgba(140, 61, 0, 0.92);
	box-shadow: inset 0 0 0 1px rgba(108, 48, 0, 0.92),inset 0 5px 30px rgba(108, 48, 0, 0.92);
}

.eventPopup {
	background-color: white;
	border-radius: 5%;
	padding: 2%;
	background-color: #D9853B;
}

.popup-title {
	text-align: center;
	font-weight: bold;
	width: 96%;
	height: 10%;
	font-size: 150%;
}
.popup-image {
	text-align: center;
	font-weight: bold;

	width: 96%;
	height: 20%;

}

.popup-image img{
	max-width:100%;
	max-height:100%;
}

.popup-genres-title {
	text-align: center;
	font-weight: bold;

	width: 96%;
	height: 10%;
}
.popup-genres-div {
	text-align: left;
	font-weight: normal;
	overflow: scroll;
	width: 96%;
	height: 30%;
}
