body {
	height: 100%;
	font-size: 16px;
	font-size: 2.5vmin;
	font-family: arial;
	margin: 0
}


.main-div {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 200%;
}

.view-div{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.explore-view {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 50%;
	overflow: hidden;
}

.compare-view {
	position: absolute;
	left: 0;
	top:50%;
	width: 100%;
	height: 50%;
	overflow: hidden;
}

.player1-view {
	position: absolute;
	left: 0;
	top:0;
	width: 17%;
	height: 100%;
	overflow: hidden;
}

.player2-view {
	position: absolute;
	left: 83%;
	top:0;
	width: 17%;
	height: 100%;
	overflow: hidden;
}

.autocomplete-compare {
	position: absolute;
	left:0;
	top:50%;
	width:100%;
	height:10%;
}

.shared-view {
	position: absolute;
	left: 17%;
	top:0;
	width: 66%;
	height: 100%;
	overflow: hidden;
}

.timeline-view {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 35%;
	background-color: rgba(225, 220, 220, 0.99);
	overflow: hidden;
}

.map-view {
	position: absolute;
	left: 0;
	top:35%;
	width: 50%;
	height: 65%;
	background-color: rgba(235, 230, 230, 0.99);
}

.fullscreen {
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	z-index: 1001;
}

.force-view {
	position: absolute;
	left: 50%;
	top:35%;
	width: 50%;
	height: 65%;
	background-color: rgba(248, 243, 243, 0.99);
	overflow: hidden;
}

.selected-list-div {
	position: absolute;
	top:7%;
	height: 42%;
	margin-bottom: 1%;
	width: 100%;
	left:0;
	overflow: scroll;
}

.selected-list-box{
	position: absolute;
	top:0;
	height: 100%;
	width: 100%;
	left:0;
}
.selected-list-element {
	position: absolute;
}
.selected-close-box {
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 10%;
}
.selected-text-box {
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
}

.explore-switch-button {
	position: absolute;
	bottom:0;
	left : 0;
	height:7%;
	width: 100%;
	/*border-radius: 5px;*/
	/*-moz-border-radius: 5px;*/
	/*-webkit-border-radius: 5px;*/
	/*border: 3px solid #37373c;*/
	background-color: #999999;
	text-align: center;
	/*margin: 1% 1%;*/
}

.explore-switch-button::after {
	content: "Go to Compare View";
}
.compare-switch-button::after {
	content: "Go to Explore View";
}

.compare-switch-button {
	top:0;
	left : 0;
	height:7%;
	/*border-radius: 5px;*/
	/*-moz-border-radius: 5px;*/
	/*-webkit-border-radius: 5px;*/
	/*border: 3px solid #37373c;*/
	background-color: #999999;
	text-align: center;
	/*margin: 1% 1%;*/
}
